/*Fonts */
@font-face {
  font-family: helvetica-bold;
  src: url(../fonts/HelveticaNeueLTPro-Bd.otf); }
@font-face {
  font-family: helvetica-bold-condensed;
  src: url(../fonts/HelveticaNeueLTPro-BdCn.otf); }
@font-face {
  font-family: helvetica-light;
  src: url(../fonts/HelveticaNeueLTPro-Lt.otf); }
@font-face {
  font-family: baskerville-italic;
  src: url(../fonts/LibreBaskerville-Italic.ttf); }
@font-face {
  font-family: painter;
  src: url(../fonts/Painter_PERSONAL_USE_ONLY.ttf); }
@font-face {
  font-family: tomatoes;
  src: url(../fonts/TOMATOES.ttf); }
/*Background Colors */
/*Text Colors */
/*Margins */
/*Widths */
/* BASE Styles */
html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #E9E9E9;
  color: #1A1A1A; }

#contact {
  width: 100%;
  height: 30%;
  background: #F2F1F0; }

/* Mobile */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #home {
    height: 100vw; }

  #nav {
    display: none; }

  #home {
    background: url(../assets/mob/2x/cover.jpg) center/cover no-repeat; }

  #home .content {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column; }

  #process {
    height: 180vw; }

  #process .content {
    flex-direction: column; }

  #process_content {
    width: 80vw !important;
    display: block !important;
    margin: 0 auto !important;
    text-align: center;
    margin-bottom: 15vw;
    font-size: 4vw; }

  .heading {
    font-size: 6vw; }

  #process_img div {
    height: 277px;
    width: 185px; }

  .left, .right {
    display: none !important; }

  #intro {
    text-align: center;
    font-size: 4vw; }

  #heading {
    font-size: 10vw; }

  #process_img {
    display: none; }

  #process_background {
    top: 10vw !important;
    left: 5vw !important;
    right: 5vw !important;
    bottom: 10vw !important; }

  #products {
    height: 305vw; }

  #catalogue {
    display: none; }

  #products .content .heading {
    text-align: center; }

  #products_background {
    top: 10vw !important;
    left: 5vw !important;
    right: 5vw !important;
    bottom: 10vw !important; }

  #products .content .heading {
    padding-top: 22vw; }

  #info_container img {
    width: 35vw; }

  #contact_info {
    margin: 0 !important; }

  .contact_heading, .contact_content {
    font-size: 3vw;
    line-height: 5vw !important; }

  #info_container {
    flex-direction: column !important;
    flex-wrap: wrap;
    height: 40vw;
    padding: 0 10vw 0 10vw;
    align-content: space-between;
    box-sizing: border-box; }

  #contact_logo {
    display: none !important; }

  #latte, #mocha, #black {
    display: none !important; } }
/* Tab */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #home, #process, #products {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around; }

  #process, #products {
    height: 80% !important; }

  .left, .right {
    display: none !important; }

  #home .content {
    padding-left: 90px; }

  .content {
    width: 738px;
    box-sizing: border-box;
    padding: 30px; }

  #home .content {
    display: flex;
    justify-content: center;
    flex-direction: column; }

  #nav_content {
    width: 738px;
    font-size: 12px; }

  #home {
    background: url(../assets/tab/2x/cover.jpg) center/cover no-repeat; }

  #intro {
    font-size: 18px;
    width: 350px; }

  #heading {
    font-size: 48px; }

  #process_background, #products_background {
    width: 665px;
    height: 355px; }

  #process_background {
    right: 15px !important;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

  #products_background {
    left: 15px !important; }

  #process_img div {
    height: 161px;
    width: 107px; }

  .heading {
    font-size: 28px; }

  .paragraph {
    font-size: 16px; }

  #catalogue_container div {
    width: 200px;
    height: 239px;
    font-size: 32px; }

  #products .content .heading {
    margin-left: -30px;
    margin-top: 80px; }

  #product2 {
    left: 25%; }

  #product3 {
    right: 25%; }

  #process_img2 {
    display: none; }

  #catalogue1 {
    display: none; }

  #products .content {
    display: flex;
    flex-direction: column;
    justify-content: center; }

  #products_background {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -30px; }

  #nav1 {
    display: none; }

  #contact_logo img {
    width: 150px; }

  .contact_heading, .contact_content {
    font-size: 12px; }

  .contact_content {
    line-height: 20px !important; }

  .content_container {
    width: 738px; }

  .content_container img {
    width: 450px; }

  .checkout {
    height: 60%;
    font-size: 16px; }
    .checkout .heading {
      font-size: 40px !important; } }
/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1823px) {
  #home, #process, #products {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around; }

  #home {
    background: url(../assets/desk/2x/cover.jpg) center/cover no-repeat; }

  .content {
    width: 994px; }

  #home .content {
    display: flex;
    justify-content: center;
    flex-direction: column; }

  .left, .right {
    font-size: 12px; }

  .left {
    padding-right: 48px; }

  #nav_content {
    width: 994px;
    font-size: 16px; }

  #intro {
    font-size: 24px;
    width: 483px; }

  #process_background, #products_background {
    width: 952px;
    height: 509px; }

  #process_background {
    top: 50%;
    right: -30px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

  #process_img div {
    height: 258px;
    width: 172px; }

  #heading {
    font-size: 67px; }

  .heading {
    font-size: 40px; }

  .paragraph {
    font-size: 20px;
    line-height: 30px; }

  #catalogue_container div {
    width: 277px;
    height: 322px;
    font-size: 48px; }

  #products .content .heading {
    margin-left: -60px; }

  #product2 {
    left: 25%; }

  #product3 {
    right: 20%; }

  #process_img {
    width: 380px;
    position: relative; }

  #process_img2 {
    display: none; }

  #catalogue1 {
    display: none; }

  #products .content {
    display: flex;
    flex-direction: column;
    justify-content: center; }

  #products_background {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -30px; }

  #nav1 {
    display: none; }

  #contact_logo img {
    width: 200px; }

  .content_container {
    width: 994px; }

  .checkout {
    height: 75%;
    min-width: 40%;
    font-size: 18px; } }
/* LAYOUT Styles */
#nav {
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 5; }

#nav_container {
  height: 100%;
  width: 100%;
  position: relative; }

#nav_white {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  background: #F2F1F0;
  transition: top 0.75s ease; }

#nav_content {
  height: 100%;
  margin: 0 auto;
  display: flex; }

#nav1 {
  z-index: 3;
  position: fixed;
  height: 20vw;
  width: 100%;
  transition: all 0.75s ease; }

#nav1_container {
  position: relative;
  height: 100%;
  width: 100%; }

#nav1_white {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  background: #F2F1F0;
  transition: top 0.75s ease;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

#nav_tray {
  z-index: 2;
  background: #F2F1F0;
  width: 100vw;
  height: calc(100vh - 14vw);
  position: fixed;
  top: -100%;
  transition: top 0.75s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }
  #nav_tray.active {
    top: 14vw; }

#nav_tray .link {
  font-family: helvetica-bold;
  font-size: 8vw;
  margin: 2vw;
  color: #1A1A1A; }

.content {
  height: 100%; }

.left, .right {
  min-width: 75px;
  height: 100%;
  font-family: helvetica-bold-condensed;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center; }

#intro {
  font-family: helvetica-light; }

#process .content {
  position: relative;
  display: flex; }

#process_background {
  z-index: -1;
  position: absolute;
  background: #CED8CE; }

#process_img {
  width: 380px;
  position: relative; }

#process_img div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 50%;
  right: 50%;
  position: absolute;
  transition: all 0.75s ease; }

#img_1 {
  z-index: 1;
  -webkit-transform: translate(30%, -60%);
  -moz-transform: translate(30%, -60%);
  -o-transform: translate(30%, -60%);
  transform: translate(30%, -60%);
  background: url(../assets/desk/1x/process1.jpg) center/105% no-repeat; }

#img_2 {
  z-index: 2;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background: url(../assets/desk/1x/process2.jpg) center/105% no-repeat; }

#img_3 {
  z-index: 3;
  -webkit-transform: translate(70%, -40%);
  -moz-transform: translate(70%, -40%);
  -o-transform: translate(70%, -40%);
  transform: translate(70%, -40%);
  background: url(../assets/desk/1x/process3.jpg) center/105% no-repeat; }

#process_img2 {
  position: relative;
  width: 100%;
  height: 100vw;
  margin-top: 60px; }
  #process_img2 div {
    position: absolute;
    width: 37vw;
    height: 55vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  #process_img2 :nth-child(1) {
    margin-top: 5vw;
    left: 10vw; }
  #process_img2 :nth-child(2) {
    margin-top: 5vw;
    right: 10vw; }
  #process_img2 :nth-child(3) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%); }

.img1_transition {
  -webkit-transform: translate(-10%, -70%) !important;
  -moz-transform: translate(-10%, -70%) !important;
  -o-transform: translate(-10%, -70%) !important;
  transform: translate(-10%, -70%) !important; }

.img3_transition {
  -webkit-transform: translate(110%, -30%) !important;
  -moz-transform: translate(110%, -30%) !important;
  -o-transform: translate(110%, -30%) !important;
  transform: translate(110%, -30%) !important; }

#process_content {
  width: 585px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

#products .content {
  position: relative; }

#products_background {
  z-index: -1;
  position: absolute;
  background: #DBD6CE; }

#catalogue {
  height: 322px; }
  #catalogue #catalogue_container {
    height: 100%;
    width: 100%;
    position: relative; }
  #catalogue #catalogue_container div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: helvetica-bold;
    padding: 15px;
    color: #DCDCDC;
    box-sizing: border-box;
    transition: all 0.75s ease;
    cursor: pointer; }
  #catalogue #catalogue_container div:hover {
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.5); }
  #catalogue #product1 {
    position: absolute;
    left: 0;
    background: url(../assets/desk/1x/product1.jpg) center/101% no-repeat; }
  #catalogue #product2 {
    position: absolute;
    background: url(../assets/desk/1x/product2.jpg) center/101% no-repeat; }
  #catalogue #product3 {
    position: absolute;
    background: url(../assets/desk/1x/product3.jpg) center/101% no-repeat; }

.product2_transition {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.product3_transition {
  right: 0 !important; }

#catalogue1 div {
  width: 60vw;
  height: 72vw;
  margin: 0 auto;
  margin-bottom: 12vw;
  font-family: helvetica-bold;
  color: #DCDCDC;
  box-sizing: border-box;
  padding: 5vw;
  font-size: 10vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
#catalogue1 div:nth-of-type(1) {
  background: url(../assets/desk/1x/product1.jpg) center/101% no-repeat; }
#catalogue1 div:nth-of-type(2) {
  background: url(../assets/desk/1x/product2.jpg) center/101% no-repeat; }
#catalogue1 div:nth-of-type(3) {
  background: url(../assets/desk/1x/product3.jpg) center/101% no-repeat; }

#contact .content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  #contact .content #contact_info {
    flex: 6;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  #contact .content #contact_logo {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  #contact .content #info_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100%; }

.panel_container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: background 0.75s ease; }
  .panel_container.select {
    background: rgba(0, 0, 0, 0.2); }

#latte {
  background: none;
  z-index: 9;
  position: fixed;
  left: -100%;
  height: 100%;
  width: 100%; }
  #latte .panel1, #latte .panel2 {
    height: 50%;
    width: 100%;
    background: #F2F1F0;
    left: -100%; }
  #latte .panel2 {
    top: 50%; }
  #latte .panel1.select1, #latte .panel2.select1 {
    left: 0; }
  #latte.select {
    left: 0; }
  #latte .tray_line {
    background: #6BAD8A;
    height: 2px !important; }

#mocha {
  background: none;
  z-index: 9;
  position: fixed;
  right: -100%;
  height: 100%;
  width: 100%; }
  #mocha .panel1, #mocha .panel2 {
    height: 100%;
    width: 50%;
    background: #F2F1F0;
    top: -100%; }
  #mocha .panel2 {
    left: 50%; }
  #mocha .panel1.select1, #mocha .panel2.select1 {
    top: 0; }
  #mocha.select {
    right: 0; }
  #mocha .tray_line {
    background: #D3B04A;
    height: 2px !important; }

#black {
  background: none;
  z-index: 9;
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%; }
  #black .panel1, #black .panel2 {
    height: 50%;
    width: 100%;
    background: #F2F1F0;
    right: -100%; }
  #black .panel2 {
    top: 50%; }
  #black .panel1.select1, #black .panel2.select1 {
    right: 0; }
  #black.select {
    top: 0; }
  #black .tray_line {
    background: #3E97A1;
    height: 2px !important; }

.panel1 {
  z-index: 8;
  position: absolute;
  transition: all 0.5s ease; }

.panel2 {
  z-index: 8;
  position: absolute;
  transition: all 0.5s ease; }

.content_container {
  position: absolute;
  z-index: 10;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.75s ease; }
  .content_container.select {
    opacity: 1; }

.frame {
  border-radius: 100px;
  position: absolute;
  height: 90%;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#latte .frame {
  border: 5px dotted #6BAD8A; }

#mocha .frame {
  border: 5px dotted #D3B04A; }

#black .frame {
  border: 5px dotted #3E97A1; }

.checkout {
  font-family: helvetica-light !important;
  z-index: 10;
  border-radius: 100px;
  background: #F2F1F0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px; }
  .checkout .heading {
    font-size: 50px; }

#latte .checkout {
  border: 3px solid #6BAD8A; }

#mocha .checkout {
  border: 3px solid #D3B04A; }

#black .checkout {
  border: 3px solid #3E97A1; }

.coffee_packet {
  -webkit-transform: translate(-20%, -5%);
  -moz-transform: translate(-20%, -5%);
  -o-transform: translate(-20%, -5%);
  transform: translate(-20%, -5%); }

.coffee_packet_mob img {
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  width: 100vw; }

.checkout_mob {
  margin-top: 20vw;
  font-size: 4vw;
  font-family: helvetica-light;
  text-align: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center; }
  .checkout_mob .heading {
    font-size: 8vw; }

.checkout_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* MODULE Styles */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit; }

.navlink {
  font-family: helvetica-bold-condensed;
  letter-spacing: 3px;
  text-transform: uppercase;
  flex: 1;
  height: 100%; }

.navlink_anchor {
  position: relative;
  display: block;
  height: 100%;
  width: 100%; }

.navlink_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.nav_logo {
  position: relative;
  flex: 1;
  height: 100%;
  overflow-y: hidden; }

#logo1 {
  width: 60%;
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: top 0.75s ease; }

#logo2 {
  width: 40%;
  top: -200%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: top 0.75s ease; }

#home_bookmark {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative; }
  #home_bookmark::before, #home_bookmark::after {
    position: absolute;
    content: "";
    height: 1px;
    background: #1A1A1A;
    width: 53px;
    top: 35%; }
  #home_bookmark::before {
    -webkit-transform: translateX(-65px);
    -moz-transform: translateX(-65px);
    -o-transform: translateX(-65px);
    transform: translateX(-65px); }
  #home_bookmark::after {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px); }

#process_bookmark {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative; }
  #process_bookmark::before {
    position: absolute;
    content: "";
    height: 1px;
    background: #1A1A1A;
    width: 53px;
    top: 35%;
    -webkit-transform: translateX(75px);
    -moz-transform: translateX(75px);
    -o-transform: translateX(75px);
    transform: translateX(75px); }

#products_bookmark {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative; }
  #products_bookmark::before {
    position: absolute;
    content: "";
    height: 1px;
    background: #1A1A1A;
    width: 53px;
    top: 35%; }
  #products_bookmark::before {
    -webkit-transform: translateX(-65px);
    -moz-transform: translateX(-65px);
    -o-transform: translateX(-65px);
    transform: translateX(-65px); }

.magicline {
  height: 53px;
  width: 1px;
  background: #1A1A1A;
  transition: transform 0.75s ease; }

.expand1 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateY(calc(100vh - 76px)) scaleY(13.4);
  -moz-transform: translateY(calc(100vh - 76px)) scaleY(13.4);
  -o-transform: translateY(calc(100vh - 76px)) scaleY(13.4);
  transform: translateY(calc(100vh - 76px)) scaleY(13.4); }

.contract1 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateY(calc(100vh - 76px)) scaleY(1);
  -moz-transform: translateY(calc(100vh - 76px)) scaleY(1);
  -o-transform: translateY(calc(100vh - 76px)) scaleY(1);
  transform: translateY(calc(100vh - 76px)) scaleY(1); }

.initialize1 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateY(0%) scaleY(1);
  -moz-transform: translateY(0%) scaleY(1);
  -o-transform: translateY(0%) scaleY(1);
  transform: translateY(0%) scaleY(1); }

#heading {
  font-family: baskerville-italic; }

.heading {
  font-family: baskerville-italic; }

.paragraph {
  font-family: helvetica-light; }

#mob_logo {
  position: relative;
  height: 100%;
  width: 18vw;
  left: 4vw;
  transition: all 0.75s ease;
  overflow: hidden; }

#mob_logo1 {
  transition: top 0.75s ease;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

#mob_logo2 {
  transition: top 0.75s ease;
  position: absolute;
  width: 60%;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#nav-icon3 {
  top: 50%;
  width: 35px;
  height: 22px;
  position: absolute;
  right: 5vw;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) translateY(-50%);
  -webkit-transition: 0.75s ease-in-out;
  -moz-transition: 0.75s ease-in-out;
  -o-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
  cursor: pointer; }

#span_container {
  height: 100%;
  width: 100%;
  position: relative; }

#span_container span.normal {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 4px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

div.normal_container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; }

#fill1 {
  flex: 5;
  height: 100%;
  background: #1A1A1A; }

#gap1 {
  flex: 1;
  height: 100%; }

#fill2 {
  flex: 97;
  height: 100%;
  background: #1A1A1A; }

#gap2 {
  flex: 3;
  height: 100%; }

#fill3 {
  flex: 55;
  height: 100%;
  background: #1A1A1A; }

#gap3 {
  flex: 10;
  height: 100%; }

#gap4 {
  flex: 35;
  height: 100%; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2) {
  top: 8px; }

#nav-icon3 span:nth-child(3) {
  top: 16px; }

#nav-icon3.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 27px; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg);
  width: 27px; }

#nav-icon3.open span:nth-child(3) {
  top: 8px;
  width: 0%;
  left: 50%; }

#nav-icon3.open #gap1, #nav-icon3.open #gap2 {
  background: #1A1A1A; }

#nav1.open1 #nav_white, #nav1.open1 #nav1_white {
  top: 0 !important; }

#nav1.open1 {
  height: 14vw !important; }

.contact_heading {
  font-family: helvetica-bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 40px; }

.contact_content {
  font-family: helvetica-light;
  letter-spacing: 1px;
  line-height: 25px; }

.close_button {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 11;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.75s ease; }
  .close_button.act {
    opacity: 1 !important; }

#contact a:hover {
  text-decoration: underline; }

.tray_line {
  display: block;
  height: 1px;
  width: 20vw;
  background: #1A1A1A;
  margin-bottom: 5vw; }

#latte_mob .tray_line {
  background: #6BAD8A;
  height: 2px !important; }

#mocha_mob .tray_line {
  background: #D3B04A;
  height: 2px !important; }

#black_mob .tray_line {
  background: #3E97A1;
  height: 2px !important; }

/*# sourceMappingURL=app.css.map */
